body
{
 width:100%;
 margin:0 auto;
 padding:0px;
 font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
 background: linear-gradient(rgb(245, 232, 232), rgb(53, 209, 236));
 background-attachment: fixed;
}
 li a{
     cursor: pointer;
 }