<div class="row">
    <div class="post" *ngIf="loggedInUser">
        <h6>Author: {{loggedInUser.username}}</h6>
        <hr>
    </div>

    <div *ngIf="model">
        <h2>{{model.text}}</h2>
        <h6>{{model.timeSent}}</h6>
    </div>

    <div *ngIf="model">
        <ul class=".pb-cmnt-textarea">
            <div class="comSec" *ngFor="let comment of model.comments">
                <app-comment [model]="comment"></app-comment>
            </div>
        </ul>
        <!-- <label> Write a Comment:
                <input #commentInput
                    (keyup.enter)="addComment(commentInput.value); commentInput.value=''"
                    (blur) = " commentInput.value='' "
                    placeholder="Have something to add?" >
                    <button (click)="addComment(commentInput.value)">Send</button>
            </label> -->

        <mat-form-field (ngSubmit)='addComment($event)' color='primary' id='search-input' appearance='outline'>
            <mat-label color='red'>Comment</mat-label>
            <input matInput name='commentPost'
                (keyup.enter)='addComment(content.value);' (blur)="content.value=''" [formControl]="content">
        </mat-form-field>
        <button class="btn btn-danger" (click)='addComment(content.value);' id='submit-search' type='submit'
            for='commentPost'>Send</button>
    </div>
</div>