<div class="post" *ngIf="author">
    <h6>{{author.username}}</h6>
    <br>
    <h2>{{model.text}}</h2>
</div>
<div *ngIf="model">
    <ul class="comments">
        <div class="comSec"
            *ngFor="let comment of model.comments"
        >
            <app-comment [model] = "comment"></app-comment>
    </div>
    </ul>
    <label> Write Comment:
        <input #commentInput
            (keyup.enter)="addComment(commentInput.value); commentInput.value=''"
            (blur) = " commentInput.value='' "
            placeholder="Have something to add?" >
            <button (click)="addComment(commentInput.value)">Send</button>
    </label>
</div>
