
<!-- <form (ngSubmit)='UpdateUser($event)'>
    <label>
        <p class="label-txt">Your Username</p>
        <input type="text" class="input" ([ngModel]) = "NotTwitterApiService.user.firstname">
        <div class="line-box">
            <div class="line"></div>
            </div>
        </label>
    <label>
      <p class="label-txt">Your Last Name</p>
      <input type="text" class="input">
      <div class="line-box">
        <div class="line"></div>
      </div>
    </label>
    <label>
      <p class="label-txt">Your Frist Name</p>
      <input type="text" class="input">
      <div class="line-box">
        <div class="line"></div>
      </div>
    </label>
    <button type="submit">UPDATE</button>
  </form> -->