
  <div class="fields-container">
      <h1>{{title}} </h1>
      <mat-form-field (ngSubmit)='getUserByName($event)' color='primary' id='search-input' appearance='outline'>
        <mat-label color='red'>Search</mat-label>
        <input matInput  [(ngModel)]='name' name='searchBar' [value]='name' (keyup.enter)='getUserByName(name)'>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)='getUserByName(name)' id='submit-search' type='submit' for='searchBar'>Submit</button>

    <div *ngIf = "users && visible == 1">
      <table>
        <tr *ngFor = "let us of users" (click)="selectUser(us)">
          <td>{{us.username}}</td>
        </tr>
      </table>
    </div>
  </div>

  <div *ngIf="selectedUser && visible ==0">
    <!-- user profile component -->
    <app-user-profile [model]="selectedUser"></app-user-profile>
  </div>


  <!-- 
  <form #f="ngForm" (ngSubmit)="getUserByName(f)" novalidate>
    <input name="first" ngModel required #first="ngModel">
    <button>Submit</button>
  </form> -->

  <!-- <h1 (click)="getUserByName(name)">clickmeinstead</h1>
  <h1>Users with name {{name}}</h1> -->

