<header>
    <div class='main-nav'>
                <div class='navbar navbar-inverse'>
                    <div class='navbar-header'>
                        <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                            <span class='sr-only'>Toggle navigation</span>
                            <span class='icon-bar'></span>
                            <span class='icon-bar'></span>
                            <span class='icon-bar'></span>
                        </button>
                        <a class='navbar-brand' *ngIf="user"></a>
                    </div>
                    <div class='navbar-collapse collapse' >
                        <ul class='nav navbar-nav' *ngIf="user">
                            <li>
                                <a (click)="SelectPage(1)">
                                    <span class='glyphicon glyphicon-dashboard'></span> Dashboard
                                </a>
                            <li>
                                <a (click)="SelectPage(2)">
                                  <span class='glyphicon glyphicon-pencil'></span> {{user.username}}'s Posts
                                </a>
                            </li>
                            <li>
                                <a (click)="SelectPage(3)">
                                    <span class='glyphicon glyphicon-user'></span> Search Users
                                </a>
                            </li>
                            <li>
                                <a (click)="SelectPage(4)">
                                    <span class='glyphicon glyphicon-education'></span> {{user.username}}'s Friends
                                </a>
                            </li>
                            <li class="disabled">
                                <a (click)="SelectPage(5)">
                                    <span class='glyphicon glyphicon-wrench'></span> Settings
                                </a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav">
                            <li >
                                <a>
                                    <span class='glyphicon glyphicon-log-out' *ngIf="auth.loggedIn" (click)="auth.logout()"> Logout</span> 
                                </a>
                                <a>
                                    <span class='glyphicon glyphicon-user'  *ngIf="!auth.loggedIn" (click)="auth.login()"> Login</span> 
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="navbar">
                    <li *ngFor="let page of pages" (click)="onSelect(page)">
                        <span class="badge">{{page.title}}</span>
                    </li>
            </ul>            
</header>
