<!-- due to bug using user id from api, Im leaving this search bar to look for friends and requests for a specific ID-->
<mat-form-field (ngSubmit)='getUserFriends($event)' (ngSubmit)='getUserFriendRequests($event)' color='primary' id='search-input' class='full-width' appearance='outline'>
        <mat-label color='red'>Search</mat-label>
        <input #searchBar matInput  [(ngModel)]='id' name='searchBar' [value]='id' (keyup.enter)='getUserFriends(id)' (keyup.enter)='getUserFriendRequests(id)'>
</mat-form-field>
    
<h2>Friends: </h2>
<!-- {{getUserFriends()}} -->
<div *ngIf ="user">

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

  <tr *ngFor = "let friend of user.friends">
    <td>{{friend.firstName}} {{friend.lastName}}</td>
    <td> <button mat-button>Go to Profile</button> </td>    
    <td><button mat-button>Remove friend</button></td> 
    </tr>
</table>
</div>

<h2>Friends Requests: </h2>
<!-- {{getUserFriendRequests()}} -->

<table>
    <!-- {{getNamesFromRequests(friendRequests)}} -->
        <tr>
          <th>Sender ID</th>
          <th>Receiver ID</th>
          <th>Status </th>
          <th></th>
          <th></th>
        </tr>
        
        <tr *ngFor = "let friends of friendRequests">
          <td>{{friends.senderId}}</td>
          <!-- dangerous code dont try it at home-->
          <!-- {{getUserFriends(friends.senderId).firstName}} -->
          <!-- {{getUserFriendRequests(friends.senderId)}} -->
          <!-- <tr *ngFor = "let user of userFriendRequests">
          <td>{{user.firstName}} {{user.lastName}}</td> -->
          <td> {{friends.receiverId}}</td>
          <td> {{friendRequestStatus[0]}}</td>
          <td> <button mat-button (click) = "acceptFriendRequest(friend)">Confirm</button> </td>    
          <td> <button mat-button (click) = "declineFriendRequest(friend)">Decline</button></td> 
        </tr>
      </table>
