<!-- due to bug using user id from api, Im leaving this search bar to look for friends and requests for a specific ID-->
<!-- <mat-form-field (ngSubmit)='getUserFriends($event)' (ngSubmit)='getUserFriendRequests($event)' color='primary' id='search-input' class='full-width' appearance='outline'>
        <mat-label color='red'>Search</mat-label>
        <input #searchBar matInput  [(ngModel)]='id' name='searchBar' [value]='id' (keyup.enter)='getUserFriends(id)' (keyup.enter)='getUserFriendRequests(id)'>
</mat-form-field>
     -->

<h2>Friends: </h2>

<div *ngIf="user">
  <table>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>

    <tr *ngFor="let friend of user.friends">
      <td>{{friend.firstName}} {{friend.lastName}}</td>
      <td> <button mat-button>Go to Profile</button> </td>
      <td><button mat-button>Remove friend</button></td>
    </tr>
  </table>
</div>

<h2>Friends Requests: </h2>

<table>

  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Accept</th>
    <th>Decline</th>
  </tr>

  <div *ngFor ="let entry of requestStatus">
    <div *ngIf = "entry.status == 1">
    <tr *ngFor="let user of userFriendRequests">         
        <td>  {{user.firstName}} {{user.lastName}}</td>
        <td>  Pending</td> <td>Resolved</td>
        <td> <button mat-button (click)="acceptFriendRequest(user.id)">Confirm</button> </td>
        <td > <button mat-button (click)="declineFriendRequest(user.id)">Decline</button></td>
    </tr> 
  </div>
    <!-- <tr *ngFor="let friend of friendRequests">         
        <td>  {{user.firstName}} {{user.lastName}}</td>
        <td *ngIf = "display">  Pending</td> <td>Resolved</td>
        <td> <button mat-button (click)="acceptFriendRequest(user.id)">Confirm</button> </td>
        <td > <button mat-button (click)="declineFriendRequest(user.id)">Decline</button></td>
    </tr> -->
  </div>
  No Requests
</table>

  

